<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Food Store</h1>

    <nav>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('products_list') }}">Products</a> |
        <a href="{{ url_for('categories_list') }}">Categories</a> |
        <a href="{{ url_for('customers_list') }}">Customers</a> |
        <a href="{{ url_for('orders_list') }}">Orders</a>
    </nav>

    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>
