/* body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
}

h1 {
    color: #336699;
} */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
}

nav {
    background: #333;
    padding: 12px;
}

nav a {
    color: white;
    margin-right: 18px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 25px;
}

h1 {
    margin-bottom: 15px;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    background: white;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
}

table th {
    background: #eee;
}

.bad {
    background: #ffcccc;
}

button {
    padding: 8px 14px;
    background: #0077cc;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

button:hover {
    background: #005ea3;
}
